.title-brand {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    margin-left: 10px;
    font-weight: bolder;
    font-style: italic;
}

/* .header-title {
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-position: center;
    opacity: 1;
    filter: grayscale(20%);
} */

header h1, header h3 {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: italic;
    color: black;
    text-align: center;
}